__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.manifest
*.spec


venv/

.venv/

*.log
db.sqlite3
media/
staticfiles/
*.pot
*.mo

.pytest_cache/
.coverage
coverage.xml
htmlcov/

.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp

.DS_Store
Thumbs.db

*.pid
*.seed
*.pid.lock

dist/
build/
.eggs/



poetry.lock
Pipfile.lock
